<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      <!-- <rule name="http to https" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTPS}" pattern="^OFF$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
      </rule> -->
      <rule name="RewriteCart" stopProcessing="true">
          <match url="^cartlists/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Cart.asp" />
        </rule>

      <rule name="RewritepayingPage" stopProcessing="true">
          <match url="^payingcart/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/paymentGate.asp" />
        </rule>

        <rule name="RewriteUserFriendlyURL2222" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/showcart.asp?cid={R:1}" />
        </rule>

      

        <rule name="Rewrite-pages" stopProcessing="true">
          <match url="^([^/]+)/page-([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/showcart.asp?cid={R:1}&amp;page={R:2}" />
        </rule>

        <rule name="Rewrite_ajax" stopProcessing="true">
          <match url="^mod/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/include/ajax_common.asp?_key={R:1}&amp;_id={R:2}" />
        </rule>
        
        
        <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/showcart.asp?idkey={R:1}&amp;cid={R:2}" />
        </rule>

        <rule name="Rewrite5" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.asp?title={R:1}&amp;cateId={R:2}&amp;newsid={R:3}" />
        </rule>
        
      
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
                <clear />
                <add value="Default.asp" />
                <add value="start.asp" />
                <add value="Default.htm" />
                <add value="index.asp" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <sessionState timeout="1440" />
    <compilation debug="true" />
  </system.web>
</configuration>