body {
}
.image-item {
    border: 1px solid #ccc !important;
    padding: 15px;
}

.input_upload {
    position: relative;
    background: #65bd43;
    color: #fff !important;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    border-radius: 9rem;
    font-size: .81rem;
    padding: 0.25rem 0.5rem;
}

    .input_upload span {
        font-size: 12px;
    }

    .input_upload input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        cursor: pointer;
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .input_upload .btn:hover {
        background-color: #f57301;
    }

.noti-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

    .noti-container .center {
        align-items: center;
    }

    .noti-container .item:first-child {
        font-size: 22px;
        padding-right: 5px;
    }

    .noti-container .item:nth-child(2n) {
        font-weight: 600;
        font-size: 15px;
        padding-top: 4px;
    }

    .noti-container i {
        font-size: 25px;
        color: #65bd43;
    }

header.w3-container {
    padding: 20px 20px 5px 20px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .navbar-content {
        width: 1140px;
    }
}
